
:root{
--title: #92529a;
}

header {
    postion: relative;
    text-align: center;
}

body{
    background: linear-gradient(#333940, #424a53);
    position: relative;
}

footer {
    position: relative;
    text-align: center;
}

h1 {
    color: var(--title);
    font-family: Arial, Helvetica, sans-serif;    
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}


/*beginning of CSS Snippet card*/
.card {
   border: 2px;
   border-style: dashed;
   border-color: white;
   padding: 10px;
   width: 275px;
   transition: all 0.5s ease-in-out;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5px;
   background: linear-gradient(#333940, #424a53)
}

.card:hover {
    transform:scale(110%);
    box-shadow: inset 0px 0px 8px 
    rgba(232, 102, 236, 1), 0 0 15px
    rgba(232, 102, 236, 1);
    z-index: 2;
}

.card .title {
    position: relative;
    margin-top: -25px;
    padding: 1px;
    z-index: 1;
}

.card .title h2 {
    color: var(--title);
    font-family: Arial, Helvetica, sans-serif;
    border: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    position: relative;
    text-align:center;  
    background-color:#333940;
    border-radius: 10px;
}

.card p {
    color: var(--title);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.content{
    background-image: linear-gradient(rgba(232, 102, 236, 0.3) 0%, rgba(232, 102, 236, 0.6) 100%);
    border-radius: 5px;
    font-family: monospace;
    color: white;
    padding: 4px;
    display: block;
    margin-left: 0px;
    user-select: text;
}

/*end of CSS Snippet card*/

/*mobile phone viewing*/
@media screen and (max-width: 768px){
    main{
        display: grid;
        width:100%;
        grid-template-columns:repeat(12, 1fr);
    }
}

/*tablet viewing*/
@media screen and (max-width: 992px){
    main{
        display: flex;
        flex-direction: column;
    }
}

/*desktop viewing*/
@media screen and (min-width: 992px){
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
